/*For screens like tablets and ipads*/
@media (max-width: 800px){
    /* .heading{
        text-align: left;
        font-size: 10px;
        border-radius: 15px;
        background: linear-gradient(to left, #f8c381, #e9aa5d);
        padding: 10px;
        height: auto;
    }

    .heading h1{
        font-size: 10px;
    }

    .topnav{
        margin-left: 2px;
        margin-top: 100px;
        text-align: left;

    }

    .topnav a{
      color: #7a4e1a;
      text-align: center;
      padding: 5px;
      text-decoration: none;
    } */

    .heading {
        font-size: 10px;
    }

    #article3{
        margin: 30px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2em;
        font-size: 25px;
    }

    .debt-recovery{
        grid-column-start: 1;
        grid-row-end: 3;
        grid-row-start: 1;
        border-radius: 30px;
        padding: 15px;
        border: solid;
        background: linear-gradient(to bottom left, #d16116de, #deb8876c);
    }

    #article2{
        margin: 30px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2em;
        font-size: 25px;
    }

    .professionalism{
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-end: 4;
        grid-row-start: 3;
        border-radius: 30px;
        border: solid ;
        padding: 15px;
        background: linear-gradient(to top right, #d16116de, #deb8876c);
    }
}

/*For big screens*/
@media (max-width: 1300px){
    .heading{
        text-align: left;
        font-size: 28px;
        border-radius: 15px;
        background: linear-gradient(to left, #f8c381, #e9aa5d);
        padding: 10px;
        height: auto;
    }

    .heading h1{
        font-size: 54px;
    }

    .topnav{
        margin-left: 5px;
        margin-top: 130px;
        text-align: left;
        width: 400px;
    }

    .topnav a{
      color: #7a4e1a;
      text-align: center;
      padding: 5px;
      text-decoration: none;
    }

}

/*For devices like phones*/
@media (max-width: 550px){
    .heading{
        text-align: left;
        font-size: 12px;
        border-radius: 15px;
        background: linear-gradient(to left, #f8c381, #e9aa5d);
        padding: 10px;
        height: auto;
    }

    .heading h1{
        font-size: 15px;
    }

    .topnav{
        margin-left: 2px;
        margin-top: 60px;
        text-align: left;

    }

    .topnav a{
      color: #7a4e1a;
      text-align: center;
      padding: 5px;
      text-decoration: none;
    }

    #home{
        font-size: 16px;
    }

    #about{
        font-size: 16px;
    }

    #services{
        font-size: 16px;
    }

    #contact{
        font-size: 16px;
    }

    #article1{
        font-size: 16px;
    }

    .mission{
        grid-column-end: 3;
        grid-column-start: 1;
    }

    .vision{
        grid-column-end: 3;
        grid-column-start: 1;
    }

    #article3{
        margin: 30px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2em;
        font-size: 16px;
    }

    .debt-recovery{
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-end: 2;
        grid-row-start: 1;
        /* border-radius: 30px;
        padding: 10px;
        border: solid;
        background: linear-gradient(to bottom left, #d16116de, #deb8876c); */
    }

    .debt-surveillance{
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-end: 3;
        grid-column-start: 1;
    }

    .investigation{
        grid-row-start: 3;
        grid-row-end: 4;
        grid-column-end: 3;
        grid-column-start: 1;
    }

    .consultancy{
        grid-row-start: 4;
        grid-row-end: 5;
        grid-column-end: 3;
        grid-column-start: 1;
    }

    .process-server{
        grid-row-start: 5;
        grid-row-end: 6;
        grid-column-end: 3;
        grid-column-start: 1;
    }

    .reconciliation{
        grid-row-start: 6;
        grid-row-end: 7;
        grid-column-end: 3;
        grid-column-start: 1;
    }

    .asset-searches{
        grid-column-end: 3;
        grid-column-start: 1;
    }


    #article2{
        margin: 30px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        font-size: 16px;
    }

    .professionalism{
        grid-column-end: 3;
        grid-row-end: 5;
        grid-row-start: 4;
        border-radius: 30px;
        border: solid ;
        padding: 15px;
        background: linear-gradient(to top right, #d16116de, #deb8876c);
    }

    .employees{
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
        border-radius: 30px;
        padding: 15px;
        border: solid;
        background: linear-gradient(to top right, #d16116de, #deb8876c);
    }

    .clients{
        grid-row-start: 3;
        grid-column-start: 1;
        grid-column-end: 3;
    }
    .professional-ethics{
        grid-column-end: 3;
        grid-column-start: 1;
        grid-row-start: 5;
    }
}

